.FormNewContacts{
    width: 100%;
    height: 798px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a6cbf6a1 ;
    flex-direction: column;
}

.FormClass{
    width: 40%;
}